{% extends "base.html" %}

{% block title %}Home | Mollusca{% endblock %}

{% block content %}
<section class="jumbotron row" id="jumbotron">
	<article class="col-sm-6 col-md-6 col-lg-6" id="jb" >
		<div id="pin"></div>
		<div id="jb-content">
	                <h1>Mollusca!</h1>
        	        <p class="lead">幹！我們提供你最好的網頁</p>
			<p><a class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
		</div>
	</article>
	<article class="hidden-xs col-sm-6 col-md-6 col-lg-6">
		<div class="card"></div>
		<div id="tag-1"></div>
		<div id="tag-2"></div>
		<div id="tag-3"></div>
	</article>
</section>

<section class="row">
        <article class="col-sm-4 col-md-4 col-lg-4">
               <div class="heading">
                       <h2>前端開發</h2>
                       <p>Content</p>
                </div>
        </article>
        <article class="col-sm-4 col-md-4 col-lg-4" style="border-right-style:solid; border-left-style:solid; border-width:1px; border-color:#AAA;">
                <div class="heading">
                        <h2>後端工程</h2>
                        <p>Content</p>
                </div>
        </article>
        <article class="col-sm-4 col-md-4 col-lg-4">
                <div class="heading">
                        <h2>藝術設計</h2>
                        <p>Content</p>
                </div>
        </article>
</section>
{% endblock %}
