{% extends "base.html" %}

{% block home %}
<section class="jumbotron row" id="home" name="home">
	<article class="col-sm-6 col-md-6 col-lg-6" id="jb" >
		<div id="pin"></div>
		<div id="jb-content">
	                <h1>Mollusca!</h1>
        	        <p class="lead">幹！我們提供你最好的網頁</p>
			<p><a class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
		</div>
	</article>
	<article class="hidden-xs col-sm-6 col-md-6 col-lg-6">
		<div class="card"></div>
		<div id="tag-1"></div>
		<div id="tag-2"></div>
		<div id="tag-3"></div>
	</article>
</section>
{% endblock %}

{% block members %}
<section class="jumbotron row" id="members" name="members">
        <!-- Members' image -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 avatar">
                <img class="img-circle avatar-img" src="/static/img/Macrohard.PNG" id="a1">
                <h4 class="our-team">C.J. Hwong<span>Developer</span></h4>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 avatar">
                <img class="img-circle avatar-img" src="/static/img/Macrohard.PNG" id="a2">
                <h4 class="our-team">Toyota<span>Developer</span></h4>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 avatar">
                <img class="img-circle avatar-img" src="/static/img/Macrohard.PNG" id="a3">
                <h4 class="our-team">Lambda<span>Developer</span></h4>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 avatar">
                <img class="img-circle avatar-img" src="/static/img/Macrohard.PNG" id="a4">
                <h4 class="our-team">KSY<span>Designer</span></h4>
        </div>

        <!-- Members' description -->
        <article class=" col-sm-12 col-md-12 col-lg-12 description" id="description_a1">
                <blockquote>
                        <h3>Backend Developer</h3>
                        <small style="margin-bottom:10px;"><em>A Python wrapped around Penguins</em></small>
                        <p><i class="icon-envelope"></i><a href="mailto:CJHwong@gmail.com"> CJHwong@gmail.com</a></p>
                        <p><i class="icon-twitter"></i><a href="//twitter.com/CJHwong"> CJHwong</a></p>
                </blockquote>

        </article>
        <article class=" col-sm-12 col-md-12 col-lg-12 description" id="description_a2">
                <blockquote>
                        <h3>toyota</h3>
                        <small style="margin-bottom:10px;"><em>Description</em></small>
                        <p><i class="icon-envelope"></i><a href="mailto:eternity1357@gmail.com"> eternity1357@gmail.com</a></p>
                        <p><i class="icon-phone"></i> 0939-741-977</p>
                </blockquote>
        </article>
        <article class=" col-sm-12 colmd-12 col-lg-12 description" id="description_a3">
                <blockquote>
                        <h3>lambda</h3>
                        <small style="margin-bottom:10px;"><em>Description</em></small>
                        <p><i class="icon-envelope"></i><a href="mailto:sonic.tw.tp@gmail.com"> sonic.tw.tp@gmail.com</a></p>
                        <p><i class="icon-phone"></i> phone number</p>
                </blockquote>
        </article>
        <article class=" col-sm-12 col-md-12 col-lg-12 description" id="description_a4">
                <blockquote>
                        <h3>ksy</h3>
                        <small style="margin-bottom:10px;"><em>Description</em></small>
                        <p><i class="icon-envelope"></i><a href="mailto:"> mail address</a></p>
                        <p><i class="icon-twitter"></i><a href=""> personal pages</a></p>
                </blockquote>
        </article>
        <script>$('.description').hide(0);</script>
        <article class=" col-sm-12 col-md-12 col-lg-12 description" id="description">
                <blockquote>
                        <h2>認識我們</h2>
                        <p>精通 Django 等多種後端技術。</p>
                        <p>熟悉最先進的網頁前端開發技術，在客戶眼中，你的網頁設計永遠在時代潮流的頂端</p>
                </blockquote>
        </article>
</section>

<script>
        $(document).ready(function() {
                $('.avatar-img').mouseover(function() {
                        var currentId = $(this).attr('id');
                        $('.description').hide(0);
                        $('#description_'+currentId).show(0);
                });
        });
</script>
{% endblock %}
