/* General */
body {
}

.body-container {
        padding-bottom: 40px;
        margin-left: 7px;
        margin-right: 7px;
}

/* Navbar */
.nav-container {
        height: 70px;
}

#navbarid {
        position: fixed;
        background-color: #CCC;
        opacity: 1;
        //box-shadow: 3px 3px 1px #333;
}

.flexiblenavbar {
        position: fixed;
        z-index: 10;
        left: 0px;
        height: 50px;
        width: 100%;
}

#navbarid-ul {
}

/* Content */
#jumbotron {
	background-image: url("/static/img/Plywood.png");
	background-size: repeat;
        border-radius: 0px;
	box-shadow:inset 1px 1px 25px #222;
        opacity: 1;
}

#jb {
	background: #fcee74; /* Old browsers */

	background: -ms-linear-gradient(-45deg,  #fcee74 0%,#fcee74 47%,#efd31a 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fcee74 0%,#fcee74 47%,#efd31a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcee74', endColorstr='#efd31a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border-radius: 2px;	
	height: 275px;
	
	margin-top:10px;
	box-shadow: 3px 3px 1px #6B573C;
	transform:rotate(-3deg);
}

#pin {
	position: relative;
	left: 50%;
	top: 5px;
	width: 24px;
	height: 24px;
	border-radius: 1000px;
	box-shadow: 1px 1px 2px #222;

	background: #cc0000; /* Old browsers */
	background: -ms-radial-gradient(center, ellipse cover,  #cc0000 35%,#cc9090 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #cc0000 35%,#cc9090 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc9090',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#jb-content{
margin:32px;
}

.card{
	height:255px;
	width:100%;
	margin-left: 3%;
	margin-top:3px;
	background-color: lightblue;
	border-radius: 8px;
	box-shadow: 3px 3px 1px #444;
	z-index:;
}

#tag-1{
	display: inline-block;
	position: relative;
	height:35px;
	width:27%;
	margin-left:3%;
	left:5%;
	background-color: lightblue;
	border-bottom-left-radius:6px; 
	border-bottom-right-radius:6px; 
	box-shadow: 3px 3px 1px #444;
	z-index:1;
}

#tag-2{
	display: inline-block;
	position: relative;
	height:35px;
	width:27%;
	margin-left:3%;
	left:5%;
	background-color: lightblue;
	border-bottom-left-radius:6px; 
	border-bottom-right-radius:6px; 
	box-shadow:inset 0px 3px 1px #444,
			3px 3px 1px #444;
}

#tag-3{
	display: inline-block;
	position: relative;
	height:35px;
	width:27%;
	margin-left:3%;
	left:5%;
	background-color: lightblue;
	border-bottom-left-radius:6px; 
	border-bottom-right-radius:6px; 
	box-shadow:inset 0px 3px 1px #444,
			3px 3px 1px #444;

}
.heading {
        background-color: #00000;
        opacity: 1;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 10px;
        margin-right: 10px;
        height: 200px;
        text-align: center;
        //box-shadow: 3px 3px 1px #CCCCCC;
}

.heading h2 {
        text-shadow: 1px 1px #C0C0C0;
}

/* Members */
.avatar {
        text-align: center;
}

.our-team span{
        color: #B4B4B4;
        display: block;
        font-size: 11px;
        line-height: 13px;
        margin-top: 0px;
}

.description {
        margin-top: 200px;
}

footer {
        background-color: ;
        height: 60px;
        width: 100%;
        padding-top: 23px;
        border-top: 20px;
        opacity: 0.75;
}

footer p {
        margin-left: 20px;
        font-family: "Open Sans", serif;
        font-size: 13px;
}

/*img {
        position:fixed;
        left:0px;
        top:0px;        
        background-size:10% cover;
        height:50px;
        width:100px;
        z-index:11;
}*/


/*li {
        display: inline;
        list-style-type: none;
        padding: 5px 10px;
        font-size:30px;
        margin-right:10%;
}*/
