.shadow (@color: #444;){
        box-shadow: 3px 3px 1px @color;
        @shadow: 3px 3px 1px @color;
}


.tag-shadow (@position: 0; @shadow-inset: inset 0px 3px 1px #444;) {
        .shadow;
        z-index: @position;
        box-shadow: @shadow, @shadow-inset;
}

.note (@color: #FCEE74; @color-gradient: #EFD31A; @degree: -3deg;) {
        background: @color; /* Old browsers */
        background: linear-gradient(135deg, @color 0%, @color 47%, @color-gradient 100%); /* W3C */
        background: -ms-linear-gradient(-45deg,  @color 0%, @color 47%, @color-gradient 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color', endColorstr='@color-gradient', GradientType=1); /* IE6-9 */

        transform: rotate(@degree);
        -webkit-transform: rotate(@degree);
        -ms-transform: rotate(@degree);
}
