/* General */
.home-container {
        position: fixed;
        width: 100%;
}

.nav-container {
        background: #A77737;
        z-index: 20;
	box-shadow: 1px 1px 25px #222;
}

.content-container {
        position: relative;
        top: 409px;
        z-index: 20;
}

/* Navbar */

#navbarid {
        margin: 0px;
        border: 0px;
        border-radius: 0px;
}

.flexiblenavbar {
        position: fixed;
        z-index: 10;
        left: 0px;
        height: 50px;
        width: 100%;
}

/* Home */
#home {
	background-image: url("/static/img/Plywood.png");
	background-size: repeat;
        margin: 0px auto;
        border-radius: 0px;
	box-shadow: inset 1px 1px 25px #222;
}

#jb {
	background: #fcee74; /* Old browsers */
	background: -ms-linear-gradient(-45deg,  #fcee74 0%,#fcee74 47%,#efd31a 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fcee74 0%,#fcee74 47%,#efd31a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcee74', endColorstr='#efd31a',GradientType=1 ); /* IE6-9 */
	height: 275px;
	margin-top: 10px;
	border-radius: 2px;	
	box-shadow: 3px 3px 1px #6B573C;
	transform: rotate(-3deg);
        -webkit-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
}

#pin {
	background: #cc0000; /* Old browsers */
	background: -ms-radial-gradient(center, ellipse cover,  #cc0000 35%,#cc9090 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #cc0000 35%,#cc9090 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc9090',GradientType=1 ); /* IE6-9 */
	position: relative;
	top: 5px;
	left: 50%;
	height: 24px;
	width: 24px;
	border-radius: 1000px;
	box-shadow: 1px 1px 2px #222;


}

#jb-content {
        margin: 32px;
}

.card {
	background-color: lightblue;
	height: 255px;
	width: 100%;
	margin-top: 3px;
	margin-left: 3%;
	border-radius: 8px;
	box-shadow: 3px 3px 1px #444;
}

#tag-1 {
	background-color: lightblue;
	position: relative;
	display: inline-block;
	left: 5%;
	height: 35px;
	width: 27%;
	margin-left: 3%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 3px 3px 1px #444;
	z-index: 1;
}

#tag-2 {
	background-color: lightblue;
	position: relative;
	display: inline-block;
	left: 5%;
	height: 35px;
	width: 27%;
	margin-left: 3%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: inset 0px 3px 1px #444,
	                  3px 3px 1px #444;
}

#tag-3 {
	background-color: lightblue;
	position: relative;
	display: inline-block;
	left: 5%;
	height: 35px;
	width: 27%;
	margin-left: 3%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: inset 0px 3px 1px #444,
	                  3px 3px 1px #444;
}

/* Members */
#members {
        background: #A77737;
}

.avatar {
        text-align: center;
}

.our-team span{
        color: #B4B4B4;
        display: block;
        font-size: 11px;
        line-height: 13px;
        margin-top: 0px;
}

.description {
        margin-top: 200px;
}

/* Footer */
footer {
        background-color: ;
        height: 60px;
        width: 100%;
        padding-top: 23px;
        opacity: 0.75;
}

footer p {
        margin-left: 20px;
        font-family: "Open Sans", serif;
        font-weight: bold;
        font-size: 13px;
}
